.App {
    background-image: linear-gradient(69deg, #F8C8DC,  #DFD6EA, #89CFF0);
  
  }
.post-editor {
    float: middle;
}
.post-editor-button {
    float: middle;
    margin-top: 1em;
}
@media(max-width: 900px) {
    .post-editor {
        margin: 1em;
    }
}